body{
    background-color: #f0f0f0;
 }
 /* 設定繪圖區 */
 article{
    width: 100vw;
    height: 100vh;
 }
 canvas{
    width: 100vw;
    height: 100vh;
    position: absolute;
 }

 /* 產生的點 */
 .dot{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #ea5050;
    position: absolute;
 }

